
*{
    margin:0;
    padding:0;
}

body{
    display: grid;
    grid-template-rows: 1fr  3fr 1fr;
    
}

/*------------------------- NAV BAR STYLE--------------------------*/

.imgContainer image{
    max-width:41px;
    max-height:33px;
    
}
.imgContainer{
    align-self: center;
}

    .navbar{
        display:flex;
        flex-direction:row;
        background-color: #609A7D;
        gap:3em;
        justify-content:center;
        text-align:center;
        color:white;
        font-family: 'Inter', sans-serif;
        font-size:20px;
        max-height: 84px;

    }
        .navbar h3{
            font-family: 'Reenie Beanie', cursive;
        
        }

/*------------- CATEGORIE LIST NON DEROULER ---------*/

#categorie-default-menu{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    margin-top: 1rem;
    background-color: #609A7D;
    width:150px;
    height:20px;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-weight: 600;
    border-radius: 20px;
    visibility: visible;
  
}
#categorie-default-menu a{
    text-decoration: none;
    text-align: center;
    align-self: center;
}



/**-------------MENU  CATEGORIE DEROULER-------------------*/
.categorie-menu{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    margin-top: 1rem;
    background-color: #609A7D;
    width:200px;
    height:200px;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-weight: 600;
    max-height:153px;
    max-width: 152px;
    border-radius: 20px;
    visibility: hidden;
    
}
        #caterogieTittle{
            display: flex;
            flex-direction: row;
            align-self: center;
            cursor: pointer;
           
        }
        #caterogieTittle img{
           padding-bottom: 17px;
          padding-left: 5px;
              
        }
.categorie-menu  a {
    color:white;
    text-decoration: none;
    
}
.categorie-menu li{
    list-style: none;
}
.categorie-menu h4{
font-weight: 800;
padding-block-end: 18px;
font-weight: bold;

}
.catégorie-container{
    display: flex;
   justify-content: flex-end;
   margin-right: 3rem;
}
.categorie-menu li:hover{
    width: 100%;
    background-color: white;
    color:#609A7D;
    border-radius: 8px;
    padding: 3px;
}
.categorie-menu li a:hover{
    color:#609A7D;
  
}


/*---------- CARD SERVICE -----------------*/
.infoCard{
    display: flex;
    flex-direction: row;
   align-items: center;
    justify-content:center;
    gap: 5em;
  
 
}
.card1,.card2{
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    max-width: 149px;
    max-height: 154px;
    min-width: 100px;
    min-height: 100px;
    background-color: #609A7D;
    font-family: 'Noto Sans', sans-serif;
    border-radius:20px;
    padding: 20px;
    box-shadow: 4px -2px 181px 0px rgba(135,135,135,0.47);

}