
*{
    margin:0;
    padding:0;
}

body{
    display: grid;
    grid-template-rows: 1fr  3fr 1fr;
    
}

/*------------------------- NAV BAR STYLE--------------------------*/

/*------------- CATEGORIE LIST NON DEROULER ---------*/


/**-------------MENU  CATEGORIE DEROULER-------------------*/
.categorie-menu{
    display: flex;
    flex-direction: row;
    color: #609A7D;

    padding: 1rem;
    gap: 5.5rem;
    font-family: Noto Sans, cursif;
    font-weight: bolder;
    visibility: visible;
    
}


/*---------- CARD SERVICE -----------------*/
.infoCard{
    display: flex;
    flex-direction: row;
   align-items: center;
    justify-content:center;
    gap: 5em;

}
.card1,.card2{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 149px;
    max-height: 154px;
    min-width: 100px;
    min-height: 100px;
    background-color: #609A7D;
    font-family: 'Noto Sans', sans-serif;
    border-radius:20px;
    padding: 20px;
    box-shadow: 4px -2px 181px 0px rgba(135,135,135,0.47);
    transition: all 500ms ease-out;

}

.card1 a,.card2 a{
    color:white;
    text-decoration: none;
    
}
 .card1:hover,.card2:hover{
    border: 3px solid #21744A;
}

@media only screen and (max-width: 470px) {
    .categorie-menu{
        visibility: hidden;
    }
  
}